@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria:  purple;
    --cor-secundaria: burlywood;
    --cor-terciaria: chocolate;
    --cor-quarternaria:  yellow;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin:0;
    padding:0;
}

body {
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__botao{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao{
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 6% 15% ;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria)
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria)

}

.apresentacao__botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 32px;
    
}

.apresentacao_links__subtitulo{
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__botoes__botao{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 240px;
    text-align: center;
    border-radius: 16px;
    border: 5px solid #000;
    font-size: 1.5rem;
    padding: 21.5px ;
    font-weight: 600;
    text-decoration: none;
    color: (--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__botoes__botao:hover{
    background-color: var(--cor-quarternaria);
}

.imagem_botao{
    height: 80%;
}

.destaque {
    color: var(--cor-terciaria);
}

img{
    
    max-width: 15%;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: black;
    font-family: var(--font-secundaria);
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 16PX;


}

@media (max-width: 1200px ){
    .apresentacao{
        
        justify-content: center;   
        padding: 5%;    

    }
     
    .apresentacao__conteudo{
        width: 100%;
    }

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
} 